#a{
    font-style: italic;background-color: coral;

}
#b{
    font-style: italic; background-color: burlywood;

}
#c{font-style: italic; background-color: chocolate;

}
#d{
    font-style: italic;


}